.container-cadastro-evento {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cadastro-evento {
    background-color: rgb(255, 255, 255);
    font-size: larger;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    padding: 50px;
}

.form-cadastro-evento {
    width: 250px;
    font-size: larger;
    margin: auto;
    text-align: center;
    color: #1967d2;
}

.form-cadastro-evento2 {
    font-size: larger;
    width: 250px;
    margin: auto;
    text-align: center;
    color: #1967d2;
}

.input-cadastro-evento {
    width: 250px;
    height: 35px;
    border-radius: 100px;
    text-align: center;
    font-size: medium;
    border-style: none;
    background-color: rgba(94, 105, 121, 0.226);
}

.div-but {
    
    display: flex;
    justify-content: center;
}

.but-cadastro-evento {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #1967d2;
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .container-cadastro-evento {
        margin-top: 15px;
        display: flex;
    }

    .div-cadastro-evento {
        background-color: rgb(255, 255, 255);
        font-size: larger;
        width: 90%;
        height: 90%;
        border-radius: 10px;
    }

    .form-cadastro-evento {
        width: 250px;
        font-size: larger;
        text-align: center;
        color: #1967d2;
    }

    .form-cadastro-evento2 {
        font-size: larger;
        width: 250px;
        margin: auto;
        text-align: center;
        color: #1967d2;
    }

    .input-cadastro-evento {
        width: 250px;
        height: 35px;
        border-radius: 100px;
        text-align: center;
        font-size: medium;
        border-style: none;
        border-color: white;
        background-color: rgba(94, 105, 121, 0.226);
    }

    .div-but {
        display: flex;
        justify-content: center;
    }

    .but-cadastro-evento {
        margin-top: 0px;
        width: 150px;
        height: 40px;
        color: white;
        background-color: #1967d2;
        border: none;
        border-radius: 5px;
    }
}